extends layouts/main

block content
    .form-container
        form(action=`${routes.editVideo(videoDB.id)}`, method="post")
            input(type="text", placeholder="Title", name="title", value=videoDB.title)
            textarea(name="description", placeholder="Description")=videoDB.description
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.deleteVideo(videoDB.id))
            button.button--delete Delete Video 