//- layouts/main.pug를 상속받는다
extends layouts/main
include mixins/videoBlock

block content
    div.videos
        each video in videosDB
            +videoBlock({
                id: video.id,
                title: video.title,
                views: video.views,
                videoFile: video.fileUrl
            })