mixin videoPlayer(video = {})
    div.videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        div.videoPlayer__controls 
            div.videoPlayer__column
                span#jsVolumeBtn
                    i.fas.fa-volume-up
                span#currentTime 00:00:00
                span#totalTime |/ 00:00:00
            div.videoPlayer__column
                span#jsVideoPlayBtn 
                    i.fas.fa-play
            div.videoPlayer__column
                span#jsFullScreen
                    i.fas.fa-expand