html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

input {
  border: none;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }
  input:focus, input:active {
    outline: none; }

.u-avatar {
  height: 8rem;
  width: 8rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem; }

main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 70vh; }

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: .7rem 1rem;
  width: 100%;
  border: none;
  -webkit-border-radius: .5rem;
     -moz-border-radius: .5rem;
          border-radius: .5rem;
  font-size: 1.2rem;
  color: #444444;
  font-weight: 500;
  background-color: white;
  resize: none;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.12), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24);
     -moz-box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.12), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24);
          box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.12), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24); }
  button::-webkit-input-placeholder,
  input:not([type="file"])::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  .fileUpload::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba(68, 68, 68, 0.7); }
  button:-moz-placeholder,
  input:not([type="file"]):-moz-placeholder,
  textarea:-moz-placeholder,
  .fileUpload:-moz-placeholder {
    font-weight: 300;
    color: rgba(68, 68, 68, 0.7); }
  button::-moz-placeholder,
  input:not([type="file"])::-moz-placeholder,
  textarea::-moz-placeholder,
  .fileUpload::-moz-placeholder {
    font-weight: 300;
    color: rgba(68, 68, 68, 0.7); }
  button:-ms-input-placeholder,
  input:not([type="file"]):-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  .fileUpload:-ms-input-placeholder {
    font-weight: 300;
    color: rgba(68, 68, 68, 0.7); }
  button::-ms-input-placeholder,
  input:not([type="file"])::-ms-input-placeholder,
  textarea::-ms-input-placeholder,
  .fileUpload::-ms-input-placeholder {
    font-weight: 300;
    color: rgba(68, 68, 68, 0.7); }
  button::placeholder,
  input:not([type="file"])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    font-weight: 300;
    color: rgba(68, 68, 68, 0.7); }

button {
  border: none;
  color: white;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.7), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24);
     -moz-box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.7), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24);
          box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.7), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24); }

.button--delete {
  background-color: #bb2f2a; }

.button--change-pw {
  background-color: #3498db; }

button,
input[type="submit"] {
  cursor: pointer; }

.header {
  background-color: #ea232c;
  margin-bottom: 5rem;
  position: relative; }
  .header__wrapper {
    padding: .2rem 10rem;
    width: 100%;
    margin: 0 auto;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .header__wrapper .header__column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header__wrapper .header__column i {
        color: white;
        font-size: 4rem; }
      .header__wrapper .header__column:nth-child(2) {
        width: 100%;
        justify-self: center; }
      .header__wrapper .header__column:last-child {
        right: 0;
        justify-self: center; }
      .header__wrapper .header__column ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase; }
        .header__wrapper .header__column ul li:not(:last-child) {
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 1.5rem; }
      .header__wrapper .header__column form {
        width: 100%; }
        .header__wrapper .header__column form input {
          padding: .7rem 1rem;
          width: 100%;
          -webkit-border-radius: .5rem;
             -moz-border-radius: .5rem;
                  border-radius: .5rem;
          font-size: 1.5rem;
          color: #444444;
          font-weight: 600;
          max-width: none; }
          .header__wrapper .header__column form input::-webkit-input-placeholder {
            font-weight: 300;
            color: rgba(68, 68, 68, 0.7); }
          .header__wrapper .header__column form input:-moz-placeholder {
            font-weight: 300;
            color: rgba(68, 68, 68, 0.7); }
          .header__wrapper .header__column form input::-moz-placeholder {
            font-weight: 300;
            color: rgba(68, 68, 68, 0.7); }
          .header__wrapper .header__column form input:-ms-input-placeholder {
            font-weight: 300;
            color: rgba(68, 68, 68, 0.7); }
          .header__wrapper .header__column form input::-ms-input-placeholder {
            font-weight: 300;
            color: rgba(68, 68, 68, 0.7); }
          .header__wrapper .header__column form input::placeholder {
            font-weight: 300;
            color: rgba(68, 68, 68, 0.7); }

.footer {
  margin: 5rem 0;
  padding-top: 5rem;
  border-top: 0.3rem solid rgba(68, 68, 68, 0.1);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__icon {
    color: rgba(68, 68, 68, 0.2);
    font-size: 3rem;
    margin-bottom: 2rem; }
  .footer__text {
    color: rgba(68, 68, 68, 0.2);
    font-weight: 800;
    text-transform: uppercase; }

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 32rem;
    margin-bottom: 5rem; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      display: block;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      -webkit-box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.7), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24);
         -moz-box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.7), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24);
              box-shadow: 0 0.1rem 0.3rem rgba(68, 68, 68, 0.7), 0 0.1rem 0.2rem rgba(68, 68, 68, 0.24); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 2.5rem; }
    .form-container form textarea {
      -webkit-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.12), 0 1px 2px rgba(68, 68, 68, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.12), 0 1px 2px rgba(68, 68, 68, 0.24);
              box-shadow: 0 1px 3px rgba(68, 68, 68, 0.12), 0 1px 2px rgba(68, 68, 68, 0.24);
      margin-bottom: 25px; }
    .form-container form input[type="submit"] {
      background-color: #3498db;
      color: white; }
  .form-container a {
    display: block;
    max-width: 30rem;
    width: 100%;
    -webkit-transform: translateX(-1rem);
       -moz-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
         -o-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  .form-container .fileUpload label {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.7); }

.social-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .social-login button {
    width: 100%;
    max-width: 32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .social-login button:not(:last-child) {
      margin-bottom: 1.5rem; }
    .social-login button span {
      margin-right: 1rem;
      font-size: 2rem; }
  .social-login .social-login--github {
    background-color: #444444;
    color: white; }
  .social-login .social-login--facebook {
    background-color: #3a5998;
    color: white; }

.videoBlock video {
  margin-bottom: 2rem;
  max-width: 100%; }

.videoBlock__title {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem; }

.videoPlayer {
  position: relative; }
  .videoPlayer:hover .videoPlayer__controls {
    opacity: 1; }
  .videoPlayer video {
    width: 100rem; }
  .videoPlayer .fullscreen-width {
    width: 100%; }
  .videoPlayer .videoPlayer__controls {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    bottom: 0.1rem;
    z-index: 9;
    width: 100%;
    background-color: rgba(68, 68, 68, 0.5);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.6rem; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child {
      position: relative; }
      .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child > span:nth-child(2) > span {
        margin-left: 3rem;
        font-size: 2.5rem; }
      .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child .videoPlayer__volume {
        position: absolute;
        padding: 0;
        opacity: 1;
        top: -6rem;
        left: -2.5rem;
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
        z-index: 10;
        width: 8rem; }
      .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child input {
        background-color: rgba(68, 68, 68, 0.7); }
        .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child input::-webkit-slider-runnable-track {
          background-color: #f5f5f5;
          height: .5rem;
          -webkit-border-radius: .3rem;
                  border-radius: .3rem; }
        .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child input::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 1px solid #000000;
          height: 36px;
          width: 16px;
          -webkit-border-radius: 50px;
                  border-radius: 50px;
          background: #ffffff;
          cursor: pointer;
          position: relative;
          top: -0.7rem; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:last-child {
      justify-self: end; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:nth-child(2) {
      justify-self: center; }
    .videoPlayer .videoPlayer__controls i {
      font-size: 2.5rem;
      cursor: pointer; }

.record-container {
  width: 100%;
  max-width: 32rem;
  margin-bottom: 5rem; }
  .record-container video {
    width: 100%;
    background-color: #444444;
    margin-bottom: 2rem; }
  .record-container button {
    background-color: #3498db; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(15rem, 1fr));
  grid-gap: 3rem; }
  .home-videos .videoBlock:first-child,
  .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(3),
  .home-videos .videoBlock:nth-child(4),
  .home-videos .videoBlock:nth-child(5) {
    grid-column: span 2; }
  .home-videos .videoBlock:nth-child(6),
  .home-videos .videoBlock:nth-child(7),
  .home-videos .videoBlock:nth-child(8)
.videoBlock:nth-child(9)
.videoBlock:nth-child(10)
.videoBlock:nth-child(11) {
    grid-column: span 1; }

.video-detail__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__player video {
    width: 100rem; }
  .video-detail__container .video__info {
    -webkit-transform: translateX(-40rem);
       -moz-transform: translateX(-40rem);
        -ms-transform: translateX(-40rem);
         -o-transform: translateX(-40rem);
            transform: translateX(-40rem);
    width: 100%;
    max-width: 20rem;
    margin-top: 2.5rem; }
    .video-detail__container .video__info button {
      width: 10rem;
      margin-bottom: 2.5rem;
      background-color: #3498db; }
  .video-detail__container .video__title,
  .video-detail__container .video__views,
  .video-detail__container .video__description {
    display: block;
    margin-bottom: 1.5rem; }
  .video-detail__container .video__title {
    width: 30rem;
    font-size: 2.2rem;
    font-weight: 300; }
  .video-detail__container .video__views {
    font-size: 1.4rem; }
  .video-detail__container .video__description {
    font-size: 1.6rem; }
  .video-detail__container .video__author {
    font-size: 1rem; }
    .video-detail__container .video__author a {
      color: #3498db; }
  .video-detail__container .video__comments {
    margin-top: 2.5rem;
    text-align: center; }
    .video-detail__container .video__comments .video__comment-number {
      font-size: 1.8rem; }
    .video-detail__container .video__comments .add__comment {
      margin-top: 2.5rem;
      width: 100%; }
      .video-detail__container .video__comments .add__comment input {
        width: 100%; }

.user-profile {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .user-profile__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.8rem; }
    .user-profile__header .profile__username {
      font-size: 1.8rem;
      margin-top: 1.5rem; }
  .user-profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .user-profile__btns a button {
      color: #444444; }
    .user-profile__btns a:not(last-child) {
      margin-bottom: 2rem; }
